$text-color: #FFF;

$primary-color: #000;
$sub-primary-color: #333;
$container-background-color: #666;
$content-background-color: #888;
$active-color:#2bf;
$danger-color: #cf1e1e;

$white-on-text-color: #202D37;

$header-height: 450px;
$footer-height: 80px;
$menu-height: 50px;

$rank6: #FF6600;
$rank5: #FFAE00;
$rank4: #dbb1db;
$rank3: #00b2f6;
$rank2: #dce537;
$rank1: #9f9f9f;